.navbar-logo {
    width: 150px;
}

.search {
    margin-right: 10px;
}

.anaconda{
    font-size: 20px;
}

.padding{
    padding-top: 80px;
}

.shadow{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.shadow-logo{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.shadow-name{
    box-shadow: rgba(20, 15, 10, 0.1) 0px 10px 10px -10px;
}

.sticky{
    position: fixed;
    right: 25px;
    bottom: 3vh;
    text-align: right;
}

.circle-border{
    border-radius: 50px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left-side{
    height: 200px;
}

.side-bar {
    padding: 10px;
    text-align: center;
}

.left-margin{
    margin-left: 20px;
}

@media screen and (max-width: 1110px){
    .shadow-name{
        font-size: 30px;
    }

    .navbar-logo{
        width: 13%;
    }

}

@media screen and (max-width:768px) {
    .navbar-logo {
        width: 17%;
    }

    .font-size-decrice{
        display: none;
    }

    .form-control {
        width: 80%;
    }

    .search-bar {
        margin: 0 auto;
    }

    .search{
        width: 350px;
    }

    td{
        font-size: 13px;
    }

    .left-margin{
        margin-left: 15px;
    }

    .circle-border{
        border-radius: 100px 100px;
    }
}

@media screen and (max-width:575px) {
    
    .left-side{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .tag{
        display: flex;
        padding: 10px;
        justify-content: center;
    }

    .tag>div {
        margin: 0 15px;
    }

    #EmpName{
        width: 80%;
    }

    .edit-btn{
        background: none;
        border: none;
        color: #0d6efd;
        width: 10px;
    }

    .delete-btn{
        background: none;
        border: none;
        color: #dc3545;
    }
}

@media screen and (max-width:425px) {
    .navbar-logo {
        width: 22%;
    }
    .text-uppercase {
        font-size: 25px;
    }
    .delete-btn{
        padding: 5px;
    }
    .edit-btn{
        padding: 5px;
        justify-content: center;
    }
    #EmpName{
        width: 70%;
    }
}

@media screen and (max-width:375px) {
    .navbar-logo {
        width: 20%;
    }

    .text-uppercase {
        font-size: 23px;
    }

    #EmpName{
        width: 60%;
    }
}

@media screen and (max-width:320px) {
    .navbar-logo {
        width: 15%;
    }

    .text-uppercase {
        font-size: 20px;
    }

    .left-margin{
        margin-left: 5px;
    }

    #EmpName{
        margin: 0;
        padding: 1px;
    }

}

.edit-btn:hover{
    background-color: rgb(255, 255, 255);
    color: #0d6efd;
}

.delete-btn:hover{
    background-color: white;
    color: #dc3545;
}

.add-task-btn:hover{
    background-color: #ffffff;
    color: #198754;
}



